<h2 class="mb-3">Bienvenu dans la pizzeria</h2>

<h3>Notre histoire</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore veritatis voluptatem, incidunt aut possimus mollitia ducimus ipsum ex fuga repellendus consectetur qui minima quam magnam autem maxime dolores! Nemo, voluptas!</p>

<h3>Nos plats</h3>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi aut deserunt unde delectus magnam. Nisi voluptatum explicabo aperiam, cum harum temporibus unde asperiores commodi ipsum. Eaque tempore atque ratione nobis!</p>